@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../font/montserrat_400.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(../font/montserrat_500.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(../font/montserrat_600.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../font/montserrat_700.woff2) format('woff2');
}
.react-root {
  height: 100%;
}
.react-root .page-layout {
  height: 100%;
}
.page-layout {
  font-family: sans-serif;
  font-size: 12px;
  color: #666666;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.page-layout .icon-remove {
  width: 24px;
  height: 24px;
  background: url(../img/ic_close.svg) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.page-layout .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  min-height: 70px;
  color: #666666;
  font-size: 18px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 20, 40, 0.05);
}
.page-layout .header .spacer {
  width: 135px;
  flex-shrink: 1;
}
.page-layout .header .logo {
  position: relative;
  width: 97px;
  height: 40px;
  top: -5px;
  flex-shrink: 0;
  margin-right: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../img/hola_logo.svg);
}
.page-layout .header .header-left,
.page-layout .header .header-right {
  display: flex;
  width: calc(50% - 300px);
  min-width: 100px;
  height: 100%;
  align-items: center;
}
.page-layout .header .header-content {
  display: flex;
  align-items: center;
  width: 600px;
  height: 100%;
}
.page-layout .header .header-content .upgrade-btn {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
.page-layout .header .header-content .upgrade-btn a {
  display: inline-block;
  width: 194px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: solid 1px #ff6400;
  color: #ff6400;
  background: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}
.page-layout .header .user-name,
.page-layout .header .login-btn {
  margin-left: auto;
  flex-shrink: 0;
  font-size: 16px;
  text-decoration: none;
  color: #ff6400;
  border: 1px solid transparent;
  transition: all 150ms ease-in;
  transition-property: color, background-color, border-color, box-shadow;
}
.page-layout .header .user-name:hover,
.page-layout .header .login-btn:hover {
  color: #fff;
  background-color: #ff6400;
  border-radius: 0.15em;
  border-color: #ff6400;
  box-shadow: #ff6400 -2px 0 0 1px, #ff6400 2px 0 0 1px;
}
.page-layout .header .user-name {
  font-weight: normal;
}
.page-layout .header .logo,
.page-layout .header .upgrade-btn a {
  transition: transform 150ms ease-in;
  transform-origin: center;
}
.page-layout .header .logo:hover,
.page-layout .header .upgrade-btn a:hover {
  transform: scale(1.2);
}
.page-layout .content {
  overflow: auto;
}
.page-layout .content .section {
  margin: 32px auto;
  width: 600px;
}
.page-layout .content .section > .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #213245;
  line-height: 16px;
}
.page-layout .content .card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
}
.page-layout .content .card ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-layout .content .card ul li {
  padding: 0 20px;
}
.page-layout .content .card ul li.sub-section {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.page-layout .content .card ul li.sub-section .title {
  margin: 20px;
}
.page-layout .content .card ul li.sub-section li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.page-layout .content .card ul li.sub-section li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-layout .content .card li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.page-layout .content .row-sp1 {
  display: flex;
}
.page-layout .content .row-sp1:before {
  content: '';
  display: block;
  flex: 1;
}
.page-layout .content .row-sp1 > .row-children {
  flex: 2;
}
.page-layout .content .row-sp1 > .row-children.center {
  text-align: center;
}
.page-layout .content .row-sp1 > .row-children.hfill {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  line-height: 16px;
}
.page-layout .content .label-line {
  display: flex;
  padding: 0 20px;
  line-height: 48px;
}
.page-layout .content .label-line:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-layout .content .label-line .label-line-label {
  flex: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.page-layout .content .label-line .label-line-children {
  flex: 2;
}
.page-layout .content .label-line .label-line-children .label-line {
  padding: 0;
  border-bottom: none;
}
.page-layout .content .label-line a {
  text-decoration: none;
  color: #0288d1;
  border: 1px solid transparent;
  transition: all 150ms ease-in;
  transition-property: color, background-color, border-color, box-shadow;
  font-weight: normal;
}
.page-layout .content .label-line a:hover {
  color: white;
  background-color: #0288d1;
  border-radius: 0.15em;
  border-color: #0288d1;
  box-shadow: #0288d1 -2px 0 0 1px, #0288d1 2px 0 0 1px;
}
.page-layout .content .link-line {
  padding: 0 20px;
  line-height: 48px;
  display: block;
}
.page-layout .content .link-button {
  text-decoration: none;
  color: #0288d1;
  position: relative;
  margin-left: -1px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 150ms ease-in;
  transition-property: color, background-color, border-color, box-shadow;
}
.page-layout .content .link-button:hover {
  color: white;
  background-color: #0288d1;
  border-radius: 0.15em;
  border-color: #0288d1;
  box-shadow: #0288d1 -2px 0 0 1px, #0288d1 2px 0 0 1px;
}
.page-layout .content .link-button.btn-primary {
  align-self: flex-end;
  display: inline-block;
  line-height: 32px;
  padding: 0px 15px;
  background-color: #0288d1;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 150ms ease-in;
  transform-origin: center;
}
.page-layout .content .link-button.btn-primary:hover {
  transform: scale(1.2);
}
.page-layout .section.report-problem {
  text-align: right;
  margin-bottom: -48px;
}
.page-layout .section.report-problem a.title {
  color: #ff6400;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid transparent;
  transition: all 150ms ease-in;
  transition-property: color, background-color, border-color, box-shadow;
}
.page-layout .section.report-problem a.title:hover {
  color: white;
  background-color: #ff6400;
  border-radius: 0.15em;
  border-color: #ff6400;
  box-shadow: #ff6400 -2px 0 0 1px, #ff6400 2px 0 0 1px;
}
.page-layout .alert-message {
  border: 1px solid #ebccd1;
  padding: 5px;
  margin: 5px 0;
  line-height: initial;
}
.page-layout .alert-message.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.page-layout .alert-message.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.page-modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.page-modal .page-modal-body {
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
}
.page-modal .page-modal-body .page-modal-title {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-modal .page-modal-body .page-modal-title h3 {
  flex: 1;
  margin: 20px;
  font-size: 1.17em;
  font-weight: bold;
}
.page-modal .page-modal-body .page-modal-title .icon-remove {
  margin: 16px;
  transition: transform 150ms ease-in;
  transform-origin: center;
}
.page-modal .page-modal-body .page-modal-title .icon-remove:hover {
  transform: scale(1.2);
}
.page-modal .page-modal-body .page-modal-content {
  padding: 20px;
}
.page-modal .page-modal-body .page-modal-content a {
  color: #0288d1;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 150ms ease-in;
  transition-property: color, background-color, border-color, box-shadow;
}
.page-modal .page-modal-body .page-modal-content a:hover {
  color: white;
  background-color: #0288d1;
  border-radius: 0.15em;
  border-color: #0288d1;
  box-shadow: #0288d1 -2px 0 0 1px, #0288d1 2px 0 0 1px;
}
.page-modal .page-modal-body .page-modal-content input.hfill {
  width: 100%;
}
.page-modal .page-modal-body .page-modal-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: right;
}
.page-modal .page-modal-body .page-modal-actions a {
  display: inline-block;
  line-height: 32px;
  padding: 0px 15px;
  background-color: #0288d1;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 150ms ease-in;
  transform-origin: center;
  cursor: pointer;
  margin-left: 20px;
}
.page-modal .page-modal-body .page-modal-actions a:hover {
  transform: scale(1.2);
}
.page-modal .page-modal-body .page-modal-actions a.btn-secondary {
  background-color: white;
  border: 1px solid #666666;
  color: #666666;
  padding: 0 14px;
  line-height: 30px;
}
.page-modal .page-modal-body .page-modal-actions a.disabled {
  background-color: rgba(2, 136, 209, 0.4);
}
.page-modal .page-modal-body .page-modal-actions a .icon-plus {
  display: inline-block;
  width: 28px;
  height: 32px;
  vertical-align: bottom;
  background-image: url(../img/ic_plus_white.svg);
  background-position: right;
  background-size: 28px 14px;
  background-repeat: no-repeat;
  margin-left: 4px;
}
.page-modal.page-modal-legal .page-modal-body {
  width: 700px;
}
.page-modal.page-modal-legal .page-modal-body .privacy_text {
  height: 400px;
}
.privacy_text {
  overflow-y: scroll;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 300px;
}
.privacy_text ul {
  padding-left: 20px;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.has-error .form-control {
  border-color: #a94442;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.has-error .form-control:focus {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
textarea.form-control {
  height: auto;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.has-error .help-block {
  color: #a94442;
}
html {
  --color-text-main: #40474f;
  --color-bg-main: #ffffff;
  text-align: left;
}
body {
  display: flex;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--color-text-main);
  cursor: default;
  user-select: none;
  border-radius: 0;
}
body:not(.tpopup) {
  min-width: 360px;
  min-height: 545px;
}
body.tpopup.show_anim {
  animation: body_show_anim 0.5s ease-in-out alternate both;
}
body.tpopup.hide_anim {
  animation: body_hide_anim 0.7s ease-in-out alternate both;
}
@keyframes body_show_anim {
  from {
    transform: scale(0);
    transform-origin: 150% -100%;
  }
  to {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}
@keyframes body_hide_anim {
  from {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  to {
    transform: scale(0);
    transform-origin: 150% -100%;
  }
}
a {
  color: #ff6400;
  text-decoration: none;
  cursor: pointer;
}
input {
  user-select: text;
}
.react-root {
  display: flex;
}
.vpn {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 360px;
  min-height: 545px;
  background: var(--color-bg-main);
  box-sizing: border-box;
}
.vpn a {
  font-weight: 500;
  color: #ff6400;
  text-decoration: none;
  cursor: pointer;
}
.vpn a:hover {
  text-shadow: 0px 0px 0px;
}
.vpn.vpn-tpopup {
  border: 1px solid #ebf2f9;
}
.vpn.vpn-compact {
  margin: 0 3px 4px 3px;
  min-height: 314px;
  height: 314px;
  border-radius: 12px;
  box-shadow: 0 3px 4px 0 rgba(198, 198, 198, 0.93);
}
.vpn-header {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  width: 100%;
  height: 84px;
  position: relative;
}
.vpn-header .vpn-header-menu {
  display: flex;
  width: 16px;
  height: 16px;
  margin: 24px auto 0 24px;
  cursor: pointer;
  transition: transform 150ms;
}
.vpn-header .vpn-header-menu svg {
  margin: auto;
}
.vpn-header .vpn-header-menu path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.vpn-header .vpn-header-menu:hover {
  transform: scale(1.05);
}
.vpn-header .vpn-header-menu:hover path {
  fill: #65707c;
}
.vpn-header .vpn-header-logo {
  position: absolute;
  width: 60px;
  height: 24px;
  top: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url(../img/hola_logo24.svg) no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.vpn-header .vpn-header-logo:hover {
  transform: scale(1.05);
}
.vpn-header.vpn-header-plus {
  height: 64px;
}
.vpn-header.vpn-header-plus .vpn-header-logo {
  width: 95px;
  height: 28px;
  background: url(../img/hola_logo_plus.svg) no-repeat;
}
.vpn-header .vpn-header-power,
.vpn-header .vpn-header-close {
  width: 16px;
  height: 16px;
  margin: 24px 24px 0 auto;
  cursor: pointer;
  transition: transform 150ms;
}
.vpn-header .vpn-header-power > svg,
.vpn-header .vpn-header-close > svg {
  width: 100%;
  height: 100%;
}
.vpn-header .vpn-header-power path,
.vpn-header .vpn-header-close path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.vpn-header .vpn-header-power:hover,
.vpn-header .vpn-header-close:hover {
  transform: scale(1.05);
}
.vpn-header .vpn-header-power:hover path,
.vpn-header .vpn-header-close:hover path {
  fill: #65707c;
}
.vpn-header .vpn-header-power-off > svg path {
  fill: #a3b5ca;
}
.vpn-header .vpn-header-power-on > svg path {
  fill: #d4e0ec;
}
.vpn-header .vpn-header-upgrade {
  position: absolute;
  bottom: 8px;
  font-weight: 500;
  right: 24px;
  color: #ff6400;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.vpn-header .vpn-header-upgrade.upgrade-link-left {
  left: 24px;
  right: auto;
}
.vpn-header .vpn-header-upgrade:hover {
  transform: scale(1.05);
}
.vpn-header-timer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.vpn-header-timer .timer .timer-text {
  display: none;
}
.vpn-header-timer .timer .timer-digits {
  width: 28px;
  height: 28px;
  font-size: 14px;
  color: #65707c;
}
.vpn-header-timer .timer .timer-digit {
  line-height: 28px;
  width: 9px;
}
.vpn-header-timer .timer .timer-separator {
  line-height: 28px;
}
.vpn-content {
  display: flex;
  flex: 1;
}
.vpn-footer {
  display: flex;
  margin-top: auto;
  width: 100%;
}
.vpn-footer-upgrade {
  margin: 0 auto 24px auto;
  font-weight: 500;
  line-height: 24px;
  color: #ff6400;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.vpn-footer-upgrade:hover {
  transform: scale(1.05);
}
.vpn-footer-upgrade span {
  display: inline-block;
  padding: 0 6px;
  border-radius: 12px;
  background-color: rgba(255, 100, 0, 0.09);
}
.vpn-off {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.vpn-off h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 48px auto 0 auto;
}
.vpn-off h2 {
  font-size: 14px;
  font-weight: 500;
  margin: 15px auto auto auto;
}
.vpn-off .vpn-off-button {
  display: flex;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 24px auto 0 auto;
  cursor: pointer;
  border-radius: 60px;
  box-shadow: 0 0 8px 1px rgba(163, 181, 202, 0.35);
  transition: box-shadow 150ms ease;
}
.vpn-off .vpn-off-button > svg {
  width: 64px;
  height: 65px;
  margin: auto;
}
.vpn-off .vpn-off-button > svg path {
  transition: fill 150ms ease;
}
.vpn-off .vpn-off-button:hover {
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
}
.vpn-off .vpn-off-button:hover > svg path {
  fill: #ff6400;
}
.vpn-off .vpn-off-button .load-spinner {
  top: -15px;
  left: -15px;
}
.unblocker {
  display: flex;
  flex-flow: column;
  flex: 1;
  text-align: center;
}
.unblocker .unblocker-country-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 24px;
}
.unblocker .unblocker-br {
  flex-basis: 100%;
  height: 0;
}
.unblocker .country-button {
  margin-top: 34px;
}
.unblocker .country-button:not(.country-button-main):not(:last-child) {
  margin-right: 90px;
}
.unblocker-title {
  display: flex;
  margin-top: 28px;
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  word-wrap: break-word;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}
.unblocker-title .ellipsis {
  display: inline-block;
  min-width: 0;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: bottom;
}
.unblocker-title .ellipsis:empty {
  display: none;
}
.unblocker-title .nowrap {
  white-space: nowrap;
}
.unblocker-title .sp_before:before {
  content: ' ';
}
.unblocker-title .sp_after:after {
  content: ' ';
}
.unblocker-title.unblocker-title-connecting {
  padding-top: 24px;
  font-size: 14px;
  font-weight: 500;
}
.vpn-compact .unblocker-title {
  margin-top: 8px;
}
.dots {
  display: inline-block;
  width: 0.75em;
  text-align: left;
}
.country-button {
  position: relative;
}
.country-button .country-button-inner {
  display: flex;
  flex-flow: column;
  cursor: pointer;
  filter: grayscale(1);
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.country-button .country-button-inner:hover {
  transform: scale(1.05);
}
.country-button .country-button-inner:hover {
  filter: none;
}
.country-button .country-button-title {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  width: fit-content;
  align-self: center;
  text-align: center;
  line-height: 1.71;
}
.country-button .country-button-misc {
  margin-top: 16px;
  width: 150%;
  font-size: 12px;
  font-weight: 500;
  align-self: center;
  text-align: center;
  color: #a3b5ca;
}
.country-button .country-flag {
  margin: 0 auto;
  position: relative;
}
.country-button .country-button-arrow {
  display: flex;
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.country-button .country-button-arrow:hover {
  transform: scale(1.5);
}
.country-button.country-button-main {
  margin: 0 auto;
}
.country-button.country-button-main .load-spinner {
  top: -10px;
  left: -10px;
}
.country-button.country-button-main .country-button-inner:before {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms;
  background: rgba(255, 100, 0, 0.88);
  filter: blur(8px);
}
.country-button.country-button-active .country-button-inner {
  filter: none;
}
.country-button.country-button-glow .country-button-inner:before {
  opacity: 1;
  animation: country-button-glow 5s linear infinite;
}
.country-button.country-button-glow .country-flag {
  box-shadow: none;
  transition: transform 1s cubic-bezier(0.2, 3, 0.4, 1);
  transform: scale(1.05);
}
@keyframes country-button-glow {
  0% {
    transform: scale(1, 1) rotate(0);
  }
  10% {
    transform: scale(1.051, 1.052) rotate(27.2deg);
  }
  20% {
    transform: scale(1.007, 1.052) rotate(52.9deg);
  }
  30% {
    transform: scale(0.959, 1.052) rotate(57.9deg);
  }
  40% {
    transform: scale(1.014, 1.051) rotate(62.4deg);
  }
  50% {
    transform: scale(0.972, 0.973) rotate(66.5deg);
  }
  60% {
    transform: scale(0.818, 0.971) rotate(70.7deg);
  }
  70% {
    transform: scale(1.052, 1.1052) rotate(63.2deg);
  }
  80% {
    transform: scale(1.005, 1.1052) rotate(53.5deg);
  }
  90% {
    transform: scale(0.96, 1.1052) rotate(57.8deg);
  }
  100% {
    transform: scale(1, 1) rotate(0);
  }
}
.country-flag {
  display: flex;
  border-radius: 50%;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 12px 0 rgba(163, 181, 202, 0.77);
}
.country-flag .fsvg_4x3 {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}
.country-flag .fsvg_4x3 .flag {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.country-flag .fsvg_4x3 .flag_stop {
  width: 100%;
  height: 100%;
  background: url(../img/power_16.svg) no-repeat;
  background-size: 16px;
  background-position: center;
}
.country-flag .fsvg_4x3 .flag_mitm {
  width: 100%;
  height: 100%;
  background: url(../img/unlock.svg) no-repeat;
  background-size: 50%;
  background-position: center;
}
.country-flag .fsvg_4x3 .flag_protect {
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(../img/protect.svg) no-repeat;
  background-size: 50%;
  background-position: center;
}
.country-flag .country-flag-plus {
  position: absolute;
  width: 24px;
  height: 12px;
  top: 4px;
  right: 0;
  z-index: 1;
  background: url(../img/plus_badge.svg) no-repeat;
  background-size: 100%;
}
.other-flags {
  display: flex;
  flex-flow: row wrap;
  padding: 2px 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: space-between;
}
.unblock-protect {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 16px 24px 0 24px;
}
.vpn-switch {
  display: flex;
  flex-flow: row;
  width: 130px;
  height: 32px;
  font-weight: 500;
  border-radius: 16px;
  background-color: #ebf2f9;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out;
}
.vpn-switch:hover {
  box-shadow: 0 1px 4px 0 rgba(101, 112, 124, 0.55);
}
.vpn-switch .vpn-switch-text {
  margin: auto 16px auto auto;
}
.vpn-switch .vpn-switch-icon {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 8px 1px rgba(163, 181, 202, 0.55);
  margin: auto auto auto 4px;
}
.vpn-switch .vpn-switch-icon > svg {
  margin: auto;
}
.vpn-switch.vpn-switch-active {
  background-color: rgba(255, 100, 0, 0.09);
  flex-flow: row-reverse;
}
.vpn-switch.vpn-switch-active .vpn-switch-text {
  margin: auto auto auto 12px;
}
.vpn-switch.vpn-switch-active .vpn-switch-icon {
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
  margin: auto 4px auto auto;
}
.working-buttons {
  display: flex;
  flex-flow: column;
  margin: auto auto 24px auto;
  font-weight: 500;
}
.working-buttons .working-buttons-report {
  margin-top: 12px;
  margin-left: auto;
  color: #ff6400;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.working-buttons .working-buttons-report:hover {
  transform: scale(1.05);
}
.working-buttons .working-buttons-row {
  margin-top: 12px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.working-button {
  display: flex;
  flex-flow: row;
  align-items: center;
  min-width: 120px;
  height: 32px;
  border-radius: 16px;
  padding: 0 18px 0 14px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 1px rgba(163, 181, 202, 0.35);
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.working-button > svg {
  margin-right: 10px;
}
.working-button:hover {
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
}
.working-button + .working-button {
  margin-left: 16px;
}
.working-button:hover {
  transform: scale(1.05);
}
.working-button.working-button-yes {
  color: #1cd32f;
}
.working-button.working-button-yes svg path {
  fill: #1cd32f;
}
.working-button.working-button-no {
  color: #ff1c1c;
}
.working-button.working-button-no svg path {
  fill: #ff1c1c;
}
.working-button.working-button-small {
  min-width: 103px;
  height: 24px;
  padding: 0 14px 0 16px;
  font-size: 12px;
  box-shadow: 0 0 3px 1px rgba(163, 181, 202, 0.35);
}
.working-button.working-button-small svg {
  width: 15px;
  height: 14px;
  margin-right: 8px;
}
.working-button.working-button-small + .working-button {
  margin-left: 8px;
}
.rate-us {
  display: flex;
  flex-flow: column;
  margin: auto auto 24px auto;
  font-weight: 500;
}
.rate-us .rate-us-title {
  margin-bottom: 16px;
}
.rate-us .rate-us-stars {
  display: flex;
  flex-flow: row;
}
.rate-us .rate-us-stars > span {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/star_off.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
  padding: 0 12px;
  box-sizing: content-box;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.rate-us .rate-us-stars > span:hover {
  transform: scale(1.2);
}
.rate-us-active-1 span:nth-child(1),
.rate-us-active-2 span:nth-child(1),
.rate-us-active-2 span:nth-child(2),
.rate-us-active-3 span:nth-child(1),
.rate-us-active-3 span:nth-child(2),
.rate-us-active-3 span:nth-child(3),
.rate-us-active-4 span:nth-child(1),
.rate-us-active-4 span:nth-child(2),
.rate-us-active-4 span:nth-child(3),
.rate-us-active-4 span:nth-child(4),
.rate-us-active-5 span:nth-child(1),
.rate-us-active-5 span:nth-child(2),
.rate-us-active-5 span:nth-child(3),
.rate-us-active-5 span:nth-child(4),
.rate-us-active-5 span:nth-child(5) {
  background-image: url(../img/star_on.svg);
}
.btn {
  width: 220px;
  height: 40px;
  padding: 0 8px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #ff6400;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.btn:hover {
  transform: scale(1.05);
}
.btn .btn-arrow {
  display: inline-block;
  margin-left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent;
  border-left-color: #ffffff;
}
.btn.btn-light {
  background-color: var(--color-bg-main);
  color: #ff6400;
  border: solid 1px #ff6400;
}
.btn.btn-light .btn-arrow {
  border-left-color: #ff6400;
}
.btn.btn-disabled {
  background-color: var(--color-bg-main);
  color: #d4e0ec;
  border: solid 1px #d4e0ec;
  cursor: not-allowed;
}
.btn.btn-disabled .btn-arrow {
  border-left-color: #d4e0ec;
}
.rated {
  display: flex;
  flex-flow: column;
  margin: auto auto 24px auto;
  font-weight: 500;
}
.rated .btn {
  margin-top: 16px;
}
.load-spinner {
  position: absolute;
  animation: load-spinner-rotate 1200ms linear infinite;
}
.load-spinner > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.load-spinner > svg circle {
  transform: rotate(-90deg);
  transform-origin: center;
}
@keyframes load-spinner-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu-header {
  position: relative;
  width: 100%;
  height: 64px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.menu-header .menu-header-btn {
  position: absolute;
  margin-left: 24px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 150ms;
}
.menu-header .menu-header-btn path {
  fill: #40474f;
}
.menu-header .menu-header-btn path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.menu-header .menu-header-btn:hover {
  transform: scale(1.05);
}
.menu-header .menu-header-btn:hover path {
  fill: #65707c;
}
.menu-header .menu-header-title {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
}
.country-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  text-align: left;
}
.country-item:hover {
  background-color: rgba(255, 100, 0, 0.09);
}
.country-item .country-flag {
  margin: 0 16px 0 9px;
  box-shadow: 0 0 10px 1px rgba(163, 181, 202, 0.35);
}
.country-item .country-item-plus {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 24px;
  height: 12px;
  z-index: 1;
  background: url(../img/plus_badge.svg) no-repeat;
  background-size: 100%;
}
.country-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  background-color: var(--color-bg-main);
  transition: opacity 150ms ease-in-out;
}
.country-menu .country-menu-body {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 12px;
}
.country-menu .menu-divider {
  padding: 0;
  margin: 3px 0;
  height: 0 !important;
  border-bottom: 1px solid #ebf2f9;
  cursor: default;
}
.country-menu ul[role=menu] {
  flex: 1;
  padding: 0;
  margin: 0;
}
.country-menu ul[role=menu] > div {
  scrollbar-width: thin;
}
.country-menu .search-field {
  margin: 0 24px 12px 24px;
  border: solid 1px #a3b5ca;
}
.country-menu .search-field,
.country-menu .search-field:hover,
.country-menu .search-field:focus-within,
.country-menu .search-field.search-field-active {
  box-shadow: none;
  background: var(--color-bg-main);
}
.country-menu .search-field input::placeholder {
  color: #a3b5ca;
}
.country-menu.entering,
.country-menu.exiting {
  opacity: 0;
}
.country-menu.entered {
  opacity: 1;
}
.country-menu ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.country-menu ::-webkit-scrollbar-thumb {
  background: #d4e0ec;
  border-radius: 8px;
}
.country-menu ::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, rgba(235, 242, 249, 0.74), #f7fafd);
  border-radius: 8px;
}
.country-menu.country-menu-inline {
  position: static;
  width: 100%;
  height: 100%;
}
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 150ms ease-in-out;
}
.menu-container.entered {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 297px;
  border-radius: 0 16px 16px 0;
  box-shadow: 2px 0 6px 0 rgba(163, 181, 202, 0.41);
  background: var(--color-bg-main);
}
.menu ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.menu ::-webkit-scrollbar-thumb {
  background: #d4e0ec;
  border-radius: 8px;
}
.menu ::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, rgba(235, 242, 249, 0.74), #f7fafd);
  border-radius: 8px;
}
.menu .slides-switch {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.menu-items {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu-item {
  display: flex;
  flex-flow: row;
  height: 36px;
  padding: 0 12px;
  margin: 0 12px;
  align-items: center;
  cursor: pointer;
}
.menu-item.menu-item-selected .menu-item-text {
  font-weight: bold;
}
.menu-item:hover {
  border-radius: 18px;
  background-color: rgba(255, 100, 0, 0.09);
}
.menu-item .menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  color: #40474f;
}
.menu-item .menu-item-extra {
  margin-left: auto;
  font-weight: 500;
  color: #ff6400;
}
.menu-username > svg,
.menu-login > svg {
  margin-right: 0;
  margin-left: 12px;
}
.menu-item-divider {
  border-bottom: 1px solid #d4e0ec;
  margin: 6px 24px;
  height: 0;
}
.menu-products {
  margin: auto 32px 32px 32px;
  display: flex;
  justify-content: space-between;
}
.product-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.product-icon:hover {
  transform: scale(1.2);
}
.product-icon.android {
  background-image: url('../img/product_icons.svg#android_gray');
}
.product-icon.android:hover {
  background-image: url('../img/product_icons.svg#android');
}
.product-icon.ios {
  background-image: url('../img/product_icons.svg#ios_gray');
}
.product-icon.ios:hover {
  background-image: url('../img/product_icons.svg#ios');
}
.product-icon.mac {
  background-image: url('../img/product_icons.svg#mac_gray');
}
.product-icon.mac:hover {
  background-image: url('../img/product_icons.svg#mac');
}
.product-icon.adremover {
  background-image: url('../img/product_icons.svg#adremover_gray');
}
.product-icon.adremover:hover {
  background-image: url('../img/product_icons.svg#adremover');
}
.product-icon.plus {
  background-image: url('../img/product_icons.svg#plus_gray');
  width: 37px;
  height: 25px;
}
.product-icon.plus:hover {
  background-image: url('../img/product_icons.svg#plus');
}
.tooltip.product-icon-tooltip {
  padding: 16px 24px;
}
.tooltip.product-icon-tooltip .tooltip-icon {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.tooltip.product-icon-tooltip.android .tooltip-icon {
  background-image: url('../img/product_icons.svg#android');
}
.tooltip.product-icon-tooltip.ios .tooltip-icon {
  background-image: url('../img/product_icons.svg#ios');
}
.tooltip.product-icon-tooltip.mac .tooltip-icon {
  background-image: url('../img/product_icons.svg#mac');
}
.tooltip.product-icon-tooltip.adremover .tooltip-icon {
  background-image: url('../img/product_icons.svg#adremover');
}
.tooltip.product-icon-tooltip.plus .tooltip-icon {
  width: 43px;
  height: 30px;
  background-image: url('../img/hola_plus.svg');
}
.general-menu {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}
.general-menu .menu-spacer {
  flex: 1 1 auto;
  max-height: 20px;
}
.general-menu .menu-items {
  margin: 0 0 auto 0;
}
.general-menu .menu-item {
  flex: 0 0 auto;
}
.account-menu {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 0 24px;
}
.account-menu .account-menu-title {
  text-align: left;
  font-weight: 500;
  color: #a3b5ca;
}
.account-menu .account-menu-title:not(:first-child) {
  margin-top: 24px;
}
.account-menu .account-menu-value {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.account-menu .account-menu-value span {
  text-overflow: ellipsis;
  overflow: hidden;
}
.account-menu .btn {
  margin-top: 32px;
  width: 100%;
}
.account-menu a {
  font-size: 14px;
  font-weight: 500;
  color: #ff6400;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.account-menu a:hover {
  text-decoration: none;
}
.account-menu a:hover {
  transform: scale(1.05);
}
.account-menu .vpn-footer-upgrade {
  margin: auto auto 24px auto;
}
.lang-menu {
  flex: 1;
  text-align: left;
  overflow-y: auto;
  margin-right: 4px;
  scrollbar-width: thin;
}
.incognito-menu {
  flex: 1;
  text-align: left;
  padding: 0 24px;
}
.incognito-menu ol {
  margin: 0;
  padding: 0 0 0 14px;
}
.incognito-menu li {
  padding: 0 0 0 12px;
  margin: 8px 0 0 0;
}
.site-premium {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
}
.site-premium .site-premium-image {
  width: 203px;
  height: 152px;
  margin-top: 36px;
  background: url(../img/servers.svg) no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.site-premium .site-premium-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.site-premium .btn {
  margin-top: 16px;
  width: 220px;
}
.search-field {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  margin: 0 24px;
  border-radius: 24px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.search-field input {
  height: 100%;
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  caret-color: #ff6400;
  background: none;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
.search-field input::placeholder {
  color: var(--color-text-main);
}
.search-field .search-field-btn {
  margin-left: auto;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 150ms;
}
.search-field .search-field-btn path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.search-field .search-field-btn:hover {
  transform: scale(1.05);
}
.search-field .search-field-btn:hover path {
  fill: #65707c;
}
.search-field:hover {
  background-color: rgba(255, 100, 0, 0.09);
}
.search-field:focus-within,
.search-field.search-field-active {
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
  background-color: var(--color-bg-main);
}
.search-field.search-field-active:not(:focus-within) .search-field-clear {
  display: flex;
}
.search-field .search-field-clear {
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 12px;
  background-color: #ebf2f9;
  cursor: pointer;
  transition: transform 150ms;
}
.search-field .search-field-clear > svg {
  width: 12px;
  height: 12px;
  margin: auto;
}
.search-field .search-field-clear path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.search-field .search-field-clear:hover {
  transform: scale(1.05);
}
.search-field .search-field-clear:hover path {
  fill: #65707c;
}
.popular {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 8px 0 10px 0;
}
.popular .popular-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex: 1;
  margin: 18px 18px 0 18px;
}
.popular .popular-more svg {
  width: 30px;
  height: 30px;
  margin: 14px auto auto auto;
}
.popular .popular-more svg path {
  fill: #a3b5ca;
}
.popular .popular-more span {
  margin: 0 auto 12px auto;
  font-size: 12px;
  font-weight: 500;
  color: #a3b5ca;
}
.popular .popular-more:hover svg path {
  fill: var(--color-text-main);
}
.popular .popular-more:hover span {
  color: var(--color-text-main);
}
.site-icon > img,
.site-icon > svg {
  width: 100%;
  height: 100%;
}
.popular-item {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 96px;
  height: 80px;
  border-radius: 8px;
  margin: 6px;
  box-shadow: 0 0 8px 0 rgba(163, 181, 202, 0.75);
  cursor: pointer;
  overflow: hidden;
}
.popular-item .site-icon {
  margin: 16px auto 0 auto;
  opacity: 1;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.popular-item .popular-item-name {
  font-size: 12px;
  font-weight: 500;
  margin: auto auto 12px auto;
  transition: transform 150ms ease-in-out;
}
.popular-item .popular-item-hover {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.popular-item .popular-item-hover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popular-item .popular-item-hover-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.8;
}
.popular-item .popular-item-hover-glow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -50%);
  filter: blur(11.1px);
  background-color: #ffffff;
}
.popular-item:hover .site-icon {
  opacity: 0;
  transform: scale(1.8);
}
.popular-item:hover .popular-item-hover {
  opacity: 1;
}
.popular-item:hover .popular-item-name {
  transform: translateY(-20px);
  font-weight: bold;
}
.protecting {
  margin: 12px 32px;
  font-weight: 500;
  text-align: left;
}
.protecting .protecting-title {
  margin-bottom: 4px;
}
.checkbox {
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: 24px;
  cursor: pointer;
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox svg path {
  fill: #65707c;
}
.checkbox svg {
  margin-right: 12px;
}
.checkbox:hover {
  transform: scale(1.05);
}
.protecting-item + .protecting-item {
  margin-top: 4px;
}
.protecting-item .protecting-item-img {
  width: 16px;
  height: 16px;
}
.protecting-item .protecting-item-img img,
.protecting-item .protecting-item-img svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.protecting-item .protecting-item-text {
  margin-left: 8px;
}
.dialog-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: 1000;
  transition: opacity 150ms ease-in-out;
}
.dialog-container.entering,
.dialog-container.exiting {
  opacity: 0;
}
.dialog-container.entered {
  opacity: 1;
}
.dialog {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 312px;
  margin: 65px auto auto auto;
  padding: 40px 32px 24px 32px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f9fafb;
  box-shadow: 0 6px 20px 0 #bcced5;
}
.dialog .dialog-close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 150ms;
}
.dialog .dialog-close path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.dialog .dialog-close:hover {
  transform: scale(1.05);
}
.dialog .dialog-close:hover path {
  fill: #65707c;
}
.dialog .dialog-icon {
  width: 24px;
  height: 24px;
  margin: 8px auto 16px 0;
}
.dialog .dialog-icon-alert {
  background: url(../img/alert.svg) no-repeat;
  background-size: 100%;
}
.dialog .dialog-message {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.dialog .dialog-buttons {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
}
.dialog .btn {
  flex: 1 1 auto;
  width: auto;
}
.dialog .btn + .btn {
  margin-left: 16px;
}
.dialog a {
  font-weight: 500;
  color: #ff6400;
  text-decoration: none;
  cursor: pointer;
}
.dialog a:hover {
  text-shadow: 0px 0px 0px;
}
.protect-dialog {
  margin-top: 140px;
}
.protect-dialog .protect-dialog-header {
  margin-bottom: 8px;
}
.protect-dialog .protect-dialog-header b {
  color: #ff6400;
  font-weight: bold;
  text-decoration: underline;
}
.protect-dialog ul {
  margin: 16px 0 0 0;
  padding: 0;
  line-height: 30px;
  list-style: none;
}
.protect-dialog li {
  padding-left: 32px;
  background: url(../img/v.svg) no-repeat;
  background-size: 20px;
  background-position: left;
}
.download-dialog {
  margin-top: 140px;
}
.download-dialog .country-flag {
  margin-bottom: 16px;
  box-shadow: 0 5px 15px 0 rgba(255, 100, 0, 0.25);
}
.suspended-dialog .btn {
  margin: 24px 0;
  width: 100%;
}
.error-dialog ol,
.error-dialog ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
.error-dialog li {
  margin: 4px 0;
}
.firefox-privacy {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.firefox-privacy .privacy_text {
  flex: 1;
  padding: 0 24px;
  text-align: left;
  background: none;
  border: none;
  scrollbar-width: thin;
}
.firefox-privacy header {
  margin: 24px 24px 16px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.firefox-privacy footer {
  display: flex;
  box-shadow: 0 -2px 8px 0 rgba(163, 181, 202, 0.35);
  background-color: var(--color-bg-main);
}
.firefox-privacy footer .btn {
  flex: 1 1 auto;
  margin: 12px 24px 24px 24px;
}
.conflict-msg {
  padding: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.conflict-msg .conflict-msg-img {
  width: 220px;
  height: 54px;
  margin: 6px auto 16px auto;
  background: url(../img/ext_conflict.svg) no-repeat;
  background-size: 100%;
}
.stub-unblock-new {
  margin: 16px 0;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: var(--color-text-main);
}
.tooltip {
  position: fixed;
  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 24px 32px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #f9fafb;
  box-shadow: 0 6px 20px 0 #bcced5;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out;
}
.tooltip .tooltip-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  min-height: 32px;
  margin-bottom: 8px;
}
.tooltip .tooltip-icon {
  margin-right: 12px;
}
.tooltip .tooltip-icon .country-flag {
  box-shadow: none;
}
.tooltip .tooltip-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.tooltip .tooltip-body {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.tooltip .tooltip-arrow {
  position: absolute;
  right: 0;
  left: 0;
  height: 16px;
}
.tooltip .tooltip-arrow > span {
  position: absolute;
  margin: 0 auto;
  border-style: solid;
  border-color: transparent;
}
.tooltip.tooltip-top .tooltip-arrow {
  bottom: -16px;
}
.tooltip.tooltip-top .tooltip-arrow > span {
  border-width: 16px 8px 0 8px;
  border-top-color: #f9fafb;
}
.tooltip.tooltip-bottom .tooltip-arrow {
  top: -16px;
}
.tooltip.tooltip-bottom .tooltip-arrow > span {
  border-width: 0 8px 16px 8px;
  border-bottom-color: #f9fafb;
}
.tooltip.tooltip-visible {
  opacity: 1;
  visibility: visible;
}
.tooltip.logo-tooltip .tooltip-icon {
  margin-right: 8px;
}
.tooltip.footer-tooltip {
  align-items: center;
}
.tooltip.footer-tooltip .tooltip-icon {
  margin-right: 8px;
}
.tooltip.protect-tooltip .protect-tooltip-status b {
  color: #ff6400;
}
.tooltip.protect-tooltip .protect-tooltip-location {
  margin: 8px 0 16px 0;
}
.tooltip.protect-tooltip a {
  color: #ff6400;
  text-decoration: none;
  cursor: pointer;
}
.tooltip.protect-tooltip p {
  margin-block-end: 0;
}
.tooltip.close-tooltip {
  cursor: default;
}
.tooltip.close-tooltip .close-tooltip-option {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 8px 1px rgba(163, 181, 202, 0.35);
  transition: box-shadow 150ms ease-in-out;
}
.tooltip.close-tooltip .close-tooltip-option:hover {
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
}
.tooltip.close-tooltip .close-tooltip-option + .close-tooltip-option {
  margin-top: 16px;
}
.tooltip.plan-feature-tooltip {
  text-align: center;
}
.tooltip.plan-feature-tooltip a {
  font-weight: 500;
  color: #ff6400;
  text-decoration: none;
  cursor: pointer;
}
.tooltip.plan-feature-tooltip a:hover {
  text-shadow: 0px 0px 0px;
}
.debug_view {
  font-size: 10px;
  padding: 0 10px;
  overflow: auto;
}
.debug_view .change-trial {
  margin: 10px 0;
}
.debug_view .change-trial input {
  width: 50px;
  text-align: right;
}
.debug_view .change-trial .error-msg {
  color: red;
}
.debug_view select {
  font-size: 10px;
  margin-bottom: 3px;
}
.debug_view .debug_switch {
  text-align: left;
  margin-top: -4px;
}
.debug_view .debug_switch label {
  display: flex;
  align-items: center;
}
.debug_view .debug_area {
  position: relative;
}
.debug_view .debug_area textarea {
  width: 100%;
  font-size: 10px;
}
.debug_view .debug_area button,
.debug_view .debug_area a {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.debug_view .debug_area a {
  top: 5px;
}
.init-slow {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
  height: 140px;
  background: url(../img/flame.svg) no-repeat center;
  background-size: 65px 88px;
}
.init-error {
  position: absolute;
  display: flex;
  flex-flow: column;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  min-width: 210px;
  font-size: 16px;
  font-weight: 500;
  color: #40474f;
  text-align: left;
  z-index: 999;
}
.init-error .init-error-img {
  margin: 115px auto 0 auto;
  width: 57px;
  height: 57px;
  background: url(../img/hola_off.svg) no-repeat;
  background-size: 100%;
}
.init-error a {
  color: #ff6400;
  text-decoration: none;
  cursor: pointer;
}
.init-error a:hover {
  text-shadow: 0px 0px 0px;
}
.init-error p {
  height: auto;
  line-height: normal;
  margin: 24px 0 0 0;
}
.init-error ol {
  margin: 24px 0 0 0;
  padding: 0;
  list-style-position: inside;
}
.init-error li {
  margin: 4px 0;
}
body.tpopup.watermark {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: auto;
  min-width: auto;
  overflow: hidden;
  text-align: center;
  padding: 0;
  background-color: transparent;
  transition: none;
  animation: none;
}
body.tpopup.watermark .react-root,
body.tpopup.watermark .flipper {
  width: 100%;
  height: 100%;
  display: flex;
  background: none;
}
body.tpopup.watermark .page-modal {
  left: 15px;
  background: none;
}
div.watermark {
  position: absolute;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
}
div.watermark.pos-top {
  top: 0;
}
div.watermark.pos-top .tooltip-banner-wrapper {
  bottom: 0;
  padding-top: 24px;
  transform: translateY(100%);
}
div.watermark.pos-top .tooltip-banner-wrapper.tooltip-banner-privacy {
  padding-top: 44px;
}
div.watermark.pos-top .tooltip-banner-arrow {
  transform: rotate(180deg);
  top: -10px;
}
div.watermark.pos-bottom {
  bottom: 0;
}
div.watermark.pos-bottom .tooltip-banner-arrow {
  bottom: -10px;
}
div.watermark.pos-bottom .tooltip-banner-wrapper {
  top: 0;
  padding-top: 24px;
  padding-bottom: 22px;
  transform: translateY(-100%);
}
div.watermark.pos-left {
  left: 0;
  justify-content: flex-start;
}
div.watermark.pos-left .watermark-bg-inner {
  right: 0;
}
div.watermark.pos-left .timer {
  margin: 4px 2px 0 7px;
}
div.watermark.pos-left .watermark-body,
div.watermark.pos-left .watermark-collapsible {
  flex-direction: row-reverse;
}
div.watermark.pos-left .watermark-logo {
  right: -35px;
}
div.watermark.pos-left.open .watermark-logo {
  right: -83px;
}
div.watermark.pos-left .wm-close {
  margin-left: 6px;
}
div.watermark.pos-left .arrow-buttons {
  flex-direction: row-reverse;
  margin-right: 12px;
  margin-left: auto;
}
div.watermark.pos-left .arrow-btn + .arrow-btn {
  margin-right: 8px;
}
div.watermark.pos-left .country-flag {
  margin-left: 13px;
}
div.watermark.pos-left .tooltip-banner-arrow {
  left: 54px;
  right: auto;
}
div.watermark.pos-left .tooltip-banner-wrapper {
  left: 0;
}
div.watermark.pos-right {
  right: 0;
  justify-content: flex-end;
}
div.watermark.pos-right .watermark-bg-inner {
  left: 0;
}
div.watermark.pos-right .timer {
  margin: 4px 7px 0 2px;
}
div.watermark.pos-right .watermark-body,
div.watermark.pos-right .watermark-collapsible {
  flex-direction: row;
}
div.watermark.pos-right .watermark-logo {
  left: -35px;
}
div.watermark.pos-right.open .watermark-logo {
  left: -83px;
}
div.watermark.pos-right .wm-close {
  margin-right: 6px;
}
div.watermark.pos-right .arrow-buttons {
  flex-direction: row;
  margin-left: 12px;
  margin-right: auto;
}
div.watermark.pos-right .arrow-btn + .arrow-btn {
  margin-left: 8px;
}
div.watermark.pos-right .country-flag {
  margin-right: 13px;
}
div.watermark.pos-right .tooltip-banner-arrow {
  right: 54px;
  left: auto;
}
div.watermark.pos-right .tooltip-banner-wrapper {
  right: 0;
}
div.watermark.entrance {
  animation: fade_in 300ms ease-in-out alternate both;
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
div.watermark.entrance .wm-close {
  margin: auto;
}
div.watermark.entrance .watermark-collapsible {
  display: none;
}
div.watermark.entrance .timer {
  position: absolute;
  opacity: 0;
}
div.watermark.entrance .watermark-logo-flame {
  opacity: 0;
  width: 3px;
  height: 4px;
  top: 50%;
  left: 50%;
}
div.watermark.entrance .country-flag {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
div.watermark:not(.entrance) .timer {
  opacity: 1;
  transition: opacity 150ms ease-in;
  transition-delay: 300ms;
}
div.watermark.open .watermark-logo {
  width: 75px;
  height: 28px;
}
div.watermark.open .watermark-logo:hover {
  transform: scale(1.1);
}
div.watermark.open .watermark-logo-flame {
  width: 20px;
  height: 28px;
}
div.watermark.open .watermark-logo-hola {
  opacity: 1;
}
div.watermark.open .watermark-bg-wrapper {
  filter: drop-shadow(0 3px 6px rgba(255, 100, 0, 0.25));
}
div.watermark .country-flag {
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(163, 181, 202, 0.35);
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
div.watermark .country-flag:hover {
  transform: scale(1.05);
}
div.watermark .watermark-bg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: drop-shadow(0 0 6px rgba(163, 181, 202, 0.35));
}
div.watermark .watermark-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
div.watermark .watermark-bg-inner {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: white;
}
div.watermark .watermark-logo {
  position: absolute;
  width: 28px;
  height: 38px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  transition: all 150ms ease-in;
}
div.watermark .watermark-logo:hover {
  transform: scale(1.25);
}
div.watermark .watermark-logo svg {
  width: 100%;
  height: 100%;
}
div.watermark .watermark-logo svg path {
  fill: url(#flame-gradient);
  fill-opacity: 0.8;
}
div.watermark .watermark-logo-flame {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 38px;
  transform-origin: 0 0;
  opacity: 1;
}
div.watermark .watermark-logo-hola {
  position: absolute;
  top: 6px;
  left: 25px;
  width: 50px;
  height: 19px;
  opacity: 0;
  transform-origin: 0 0;
}
div.watermark .arrow-icon {
  background-size: 12px 10px;
  background-position: center;
}
div.watermark .watermark-collapsible {
  display: flex;
  height: 100%;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  justify-content: flex-start;
}
div.watermark .watermark-body {
  width: 100%;
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0;
}
div.watermark .arrow-buttons {
  height: 100%;
  display: flex;
  align-items: center;
}
div.watermark .wm-close {
  width: 24px;
  min-width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(../img/ic_x.svg) no-repeat;
  background-size: 12px;
  background-position: center;
  border-radius: 0 14px 14px 0;
  opacity: 0.66;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
div.watermark .wm-close:hover {
  transform: scale(1.3);
}
div.watermark .wm-close:hover {
  opacity: 1;
}
div.watermark .rate-us {
  flex-direction: row;
  flex: 1;
  margin: 0 auto;
  align-items: center;
}
div.watermark .rate-us .rate-us-title {
  font-size: 12px;
  font-weight: normal;
  margin: 0 8px 0 0;
}
div.watermark .rate-us .rate-us-stars > span {
  width: 16px;
  height: 16px;
  background-size: 16px;
  padding: 0 4px;
}
div.watermark .rated {
  flex: 1;
  padding: 10px 0;
  margin: auto;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
div.watermark .fixing-view {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: left;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-size: 12px;
}
div.watermark .fixing-view > :first-child {
  margin-right: 5px;
  transform: scale(0.8);
}
div.watermark .watermark-separator {
  width: 3px;
  height: 27px;
  margin: auto 12px;
  flex-shrink: 0;
  opacity: 0.55;
  border-radius: 2px;
  background-color: #ebf2f9;
}
.wm-work-buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}
.wm-work-buttons .wm-work-buttons-title {
  color: #65707c;
  font-size: 12px;
  font-weight: 500;
  margin: 0 12px 0 0;
  text-align: left;
  white-space: nowrap;
}
.arrow-btn {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  border-radius: 10px;
  padding: 0;
  opacity: 1;
  background-color: #ebf2f9;
  transition: transform 150ms ease-in;
  cursor: pointer;
}
.arrow-btn .arrow-anim {
  height: 100%;
  width: 100%;
  animation-duration: 300ms;
  animation-delay: -150ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.arrow-btn.arrow-up .arrow-anim,
.arrow-btn.arrow-left .arrow-anim {
  animation-direction: alternate;
}
.arrow-btn.arrow-down .arrow-anim,
.arrow-btn.arrow-right .arrow-anim {
  animation-direction: alternate-reverse;
}
.arrow-btn.hover {
  opacity: 1;
  transform: scale(1.3);
}
.arrow-btn.hover .arrow-anim {
  animation-duration: 200ms;
}
.arrow-btn.hover.up-down .arrow-anim {
  animation-name: bounce-up-down;
}
.arrow-btn.hover.left-right .arrow-anim {
  animation-name: bounce-left-right;
}
.arrow-icon {
  height: 100%;
  width: 100%;
  background: url(../img/ic_arrow.svg) no-repeat;
  background-size: 100% 100%;
}
.arrow-up .arrow-icon {
  transform: rotate(90deg);
}
.arrow-down .arrow-icon {
  transform: rotate(270deg);
}
.arrow-right .arrow-icon {
  transform: rotate(180deg);
}
.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: grayscale(1);
}
.watermark-debug {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 20px;
  width: 100px;
  background: #fff;
  justify-content: space-between;
  padding: 5px 0 5px 12px;
  border-radius: 20px;
}
.watermark-debug input {
  width: 35px;
  text-align: right;
}
.watermark-debug button {
  display: block;
  width: 25px;
  height: 100% !important;
  padding: 0;
  margin: auto 0 auto auto;
  vertical-align: middle;
}
.wm-country-menu {
  position: absolute;
  width: 360px;
  height: 545px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 3px 4px 0 rgba(198, 198, 198, 0.93);
  border: solid 1px #ebf2f9;
  background-color: #ffffff;
}
.wm-country-menu.pos-top {
  top: 0;
}
.wm-country-menu.pos-bottom {
  bottom: 0;
}
.wm-country-menu.pos-left {
  left: 0;
}
.wm-country-menu.pos-right {
  right: 0;
}
.tooltip.wm-close-tooltip {
  padding: 12px 18px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
}
.tooltip.wm-close-tooltip .tooltip-header {
  min-height: 28px;
  margin-bottom: 4px;
  justify-content: center;
}
.tooltip.wm-close-tooltip .tooltip-title {
  font-weight: 600;
}
.tooltip.wm-close-tooltip .close-tooltip-option {
  height: 37px;
  line-height: 37px;
  border-radius: 18.5px;
  font-weight: normal;
}
.tooltip.wm-close-tooltip .close-tooltip-option + .close-tooltip-option {
  margin-top: 12px;
}
.tooltip.wm-tooltip-menu {
  cursor: default;
  padding: 15px 12px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
}
.tooltip.wm-tooltip-menu .menu-item {
  padding: 0 26px;
  margin: 0;
}
.tooltip.wm-tooltip-menu .menu-item .menu-icon {
  margin-right: 8px;
}
.timer {
  display: flex;
  flex-direction: row;
  color: #213245;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 150ms ease-in;
}
.timer:hover {
  transform: scale(1.1);
}
.timer .timer-section {
  display: flex;
  flex-direction: column;
}
.timer .timer-digits {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  background-color: #ebf2f9;
  justify-content: center;
}
.timer .timer-digit {
  position: relative;
  width: 8px;
  line-height: 20px;
  overflow: hidden;
}
.timer .timer-digit > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.timer .timer-text {
  font-size: 8px;
  font-weight: 500;
}
.timer .timer-separator {
  font-size: 14px;
  width: 4px;
  margin: 0px 4px;
  font-weight: 600;
  color: #666666;
}
.modal-dialog {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  overflow: hidden;
  left: 8px;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 8px);
  padding: 0;
  border: solid 1px #ebf2f9;
  border-radius: 12px;
  font-weight: 500;
  text-align: left;
  background-color: var(--color-bg-main);
  box-shadow: 0 3px 4px 0 rgba(198, 198, 198, 0.93);
}
body.tpopup_window .modal-dialog {
  box-shadow: none;
  border: none;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  justify-content: flex-start;
}
.modal-dialog a {
  font-weight: 500;
  color: #ff6400;
  text-decoration: none;
  cursor: pointer;
}
.modal-dialog a:hover {
  text-shadow: 0px 0px 0px;
}
.modal-dialog > .slides-switch {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
}
.modal-dialog .error-message {
  padding: 0 30px;
  line-height: 30px;
  text-align: left;
  font-size: 14px;
  color: #f44336;
  background-color: rgba(244, 67, 54, 0.1);
}
.modal-header {
  display: flex;
  padding: 0;
  height: 52px;
  justify-content: flex-start;
}
.modal-header .modal-header-back {
  margin: 16px 0 0 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 150ms;
}
.modal-header .modal-header-back path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.modal-header .modal-header-back:hover {
  transform: scale(1.05);
}
.modal-header .modal-header-back:hover path {
  fill: #65707c;
}
.modal-header .modal-header-logo {
  width: 60px;
  height: 24px;
  margin: 24px 0 0 24px;
  background: url(../img/hola_logo.svg) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.modal-header .modal-header-logo:hover {
  transform: scale(1.05);
}
.modal-header .modal-header-sign-in {
  margin: 28px 0 0 16px;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-main);
}
.modal-header .modal-header-title {
  font-size: 12px;
  margin: auto;
}
.modal-header .modal-header-close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 150ms;
}
.modal-header .modal-header-close path {
  fill: #a3b5ca;
  transition: fill 150ms ease;
}
.modal-header .modal-header-close:hover {
  transform: scale(1.05);
}
.modal-header .modal-header-close:hover path {
  fill: #65707c;
}
.modal-body {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  align-items: flex-start;
  padding: 0 24px 24px 24px;
}
.modal-body .modal-body-title {
  margin: 28px 0 0 0;
  font-size: 16px;
  line-height: 24px;
}
.modal-body .modal-body-buttons {
  margin: 32px 40px 8px 40px;
  display: flex;
  flex-flow: row;
  align-self: stretch;
  justify-content: space-between;
}
.modal-body.mitm-suggestion-body .modal-body-title {
  margin: auto 0 10px 5px;
}
.modal-body.mitm-suggestion-body .stop-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/ic_stop.svg) no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
  vertical-align: middle;
}
.modal-body.proxy-error-body .modal-body-title {
  text-align: left;
  margin-bottom: 5px;
}
.modal-body.proxy-error-body .error-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/ic_error.svg) no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
  vertical-align: middle;
}
.modal-body.proxy-error-body ul.proxy-error-actions {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.modal-body.proxy-error-body ul.proxy-error-actions li {
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 10px;
  font-size: 16px;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  color: #666666;
  transition: transform 150ms ease-in;
}
.modal-body.proxy-error-body ul.proxy-error-actions li:hover {
  border: solid 2px #0288d1;
  margin: 4px;
  transform: scale(1.02);
}
.modal-body.proxy-error-body ul.proxy-error-actions .action-icon {
  display: inline-block;
  width: 32px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.modal-body.proxy-error-body ul.proxy-error-actions .action-icon.f32 {
  height: 32px;
  vertical-align: inherit;
}
.modal-body.proxy-error-body ul.proxy-error-actions .action-icon.f32 .flag {
  vertical-align: middle;
}
.modal-body.proxy-error-body ul.proxy-error-actions .action-icon.stop-vpn {
  background-image: url(../img/ic_switch.svg);
  filter: grayscale(1);
}
.modal-body.proxy-error-body ul.proxy-error-actions .action-icon.search-google {
  background-image: url(../img/ic_google.svg);
}
.modal-body.proxy-error-body ul.proxy-error-actions .action-icon.contact-support {
  background-image: url(../img/ic_email.svg);
}
.modal-body.suggestion-body .country-button:not(:last-child) {
  margin-right: 90px;
}
.modal-body.choose-country-body {
  width: 360px;
  height: 545px;
  padding: 0;
  position: relative;
}
.modal-body.remove-popup-body .btn {
  margin: 0 auto 24px auto;
  box-shadow: 0 8px 16px 0 rgba(255, 100, 0, 0.2);
}
.modal-dialog.modal-choose_country .modal-header-logo {
  display: none;
}
.modal-dialog.modal-remove_popup {
  width: 456px;
  height: 332px;
}
.remove-wm {
  position: relative;
  margin: 30px auto;
  width: 255px;
  height: 58px;
}
.remove-wm .remove-wm-image {
  animation: remove-watermark 4s infinite;
  animation-fill-mode: both;
}
.remove-wm .remove-wm-cursor {
  position: absolute;
  top: 25px;
  right: 12px;
  animation: remove-watermark-cursor 4s linear infinite;
  animation-fill-mode: both;
}
@keyframes remove-watermark {
  0%,
  60% {
    opacity: 1;
    transform: none;
  }
  75%,
  100% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
}
@keyframes remove-watermark-cursor {
  0%,
  30% {
    transform: translate(-60px, -20px);
  }
  50%,
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.modal-choose_plan {
  border-radius: 8px;
  box-shadow: 0 0 8px 1px rgba(163, 181, 202, 0.35);
  border: solid 1px #ff6400;
}
.modal-choose_plan .choose-plan-body {
  padding: 0;
  align-items: stretch;
  overflow: auto;
}
.modal-choose_plan .choose-plan-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}
.modal-choose_plan .choose-plan-btns {
  display: flex;
  flex-flow: row;
  margin: 0 57px 40px 57px;
  width: auto;
  overflow: visible;
}
.modal-choose_plan .choose-plan-subtitle {
  font-size: 12px;
  color: #213245;
  line-height: 15px;
  text-transform: uppercase;
  padding-left: 21px;
  margin: 12px auto 20px auto;
  background: url(../img/ic_guarantee.svg) no-repeat;
  background-position: left;
  background-size: 15px;
}
.modal-choose_plan .choose-plan-subtitle span {
  font-weight: 600;
  color: #ff6400;
}
.modal-choose_plan .choose-plan-footer-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}
.modal-choose_plan .choose-plan-features {
  display: flex;
  flex-flow: row;
  padding: 0 48px 48px 48px;
  margin: 32px 0 0 0;
  justify-content: space-between;
}
.plan-feature {
  display: flex;
  flex-flow: column;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.plan-feature:hover {
  transform: scale(1.05);
}
.plan-feature + .plan-feature {
  margin-left: 10px;
}
.plan-feature .plan-feature-img {
  width: 56px;
  height: 56px;
  margin: 0 auto 16px auto;
  border-radius: 50%;
  background-color: #fafcff;
  background-repeat: no-repeat;
  background-position: center;
}
.plan-feature .plan-feature-img.plus_fast {
  background-image: url(../img/plus_fast.svg);
  background-size: 28px;
}
.plan-feature .plan-feature-img.plus_unlimited {
  background-image: url(../img/plus_unlimited.svg);
  background-size: 27px;
}
.plan-feature .plan-feature-img.plus_devices {
  background-image: url(../img/plus_devices.svg);
  background-size: 21px 22px;
}
.plan-feature .plan-feature-img.plus_no_logs {
  background-image: url(../img/plus_no_logs.svg);
  background-size: 24px 22px;
}
.plan-feature .plan-feature-img.plus_security {
  background-image: url(../img/plus_security.svg);
  background-size: 21px 24px;
}
.plan-btn {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 170px;
  width: 220px;
  height: 250px;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 0 8px 1px rgba(163, 181, 202, 0.35);
}
.plan-btn .best-badge {
  position: absolute;
  top: 12px;
  left: 32px;
  right: auto;
  width: 81px;
  height: 22px;
  line-height: 22px;
  background-color: #ff6400;
  border-radius: 13px;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
  text-transform: uppercase;
  text-align: center;
}
.plan-btn .month-price {
  margin: 16px auto 0 33px;
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;
}
.plan-btn .per {
  margin: 0 auto 0 33px;
  font-size: 12px;
  font-weight: 500;
  color: #a3b5ca;
}
.plan-btn .plan-name {
  margin: 50px auto 0 33px;
  font-size: 14px;
  font-weight: bold;
}
.plan-btn .regular-price {
  color: #ff6400;
  text-decoration: line-through;
}
.plan-btn .full-price {
  margin: 10px auto 0 33px;
  font-size: 12px;
  color: #65707c;
  white-space: nowrap;
}
.plan-btn .btn {
  margin: auto auto 20px auto;
  width: 146px;
}
.plan-btn:hover {
  box-shadow: 0 0 8px 1px rgba(255, 100, 0, 0.46);
}
.plan-btn:hover .btn {
  transform: scale(1.05);
}
.plan-btn + .plan-btn {
  margin-left: 20px;
}
.modal-login {
  width: 322px;
  height: 453px;
  padding: 0;
  align-items: stretch;
}
body.tpopup_window .modal-login {
  width: 100%;
}
.modal-login .modal-body {
  padding: 32px 24px;
}
.modal-login .modal-body-title {
  margin: 0;
  font-size: 14px;
}
.modal-login .slides-switch {
  flex: auto;
}
.modal-login .login-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-login .login-methods {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 0;
}
.modal-login .login-btn {
  width: 274px;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(163, 181, 202, 0.35);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.modal-login .login-btn:hover {
  box-shadow: 0 3px 9px 0 rgba(255, 100, 0, 0.25);
}
.modal-login .login-btn:not(:last-child) {
  margin-bottom: 16px;
}
.modal-login .login-btn:hover {
  transform: scale(1.05);
}
.modal-login .login-btn .login-btn-icon {
  height: 16px;
  width: 16px;
  margin: 0 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.modal-login .login-btn.login-btn-google .login-btn-icon {
  background-image: url(../img/google.svg);
}
.modal-login .login-btn.login-btn-facebook .login-btn-icon {
  background-image: url(../img/facebook.svg);
}
.modal-login .login-btn.login-btn-email .login-btn-icon {
  background-image: url(../img/email.svg);
}
.modal-login .login-mode-switch {
  margin: 24px 0 0 0;
  text-align: left;
}
.modal-login .login-footer {
  margin: 24px 0 0 0;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #65707c;
}
.modal-login .login-footer a {
  color: #65707c;
  white-space: nowrap;
  font-weight: bold;
}
.modal-verify_email {
  width: 410px;
  line-height: 24px;
}
.modal-verify_email .modal-body {
  padding: 24px 24px 32px 24px;
}
.modal-verify_email .modal-body-title {
  margin: 0 0 24px 0;
  font-size: 14px;
}
.modal-verify_email .btn {
  width: 176px;
  margin: 32px 0;
}
.modal-trial_subscribe {
  width: 529px;
  height: 430px;
}
.modal-trial_subscribe .modal-body-title {
  margin: 24px 0 0 0;
  font-size: 16px;
  font-weight: 500;
}
.modal-trial_subscribe .trial-subscribe-columns {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
  align-self: stretch;
  justify-content: space-between;
  margin: 24px 16px 20px 16px;
}
.modal-trial_subscribe .trial-subscribe-column {
  display: flex;
  width: 210px;
  flex-flow: column;
}
.modal-trial_subscribe .trial-subscribe-text {
  line-height: 24px;
  margin: 0 0 24px 0;
}
.modal-trial_subscribe .btn {
  width: 176px;
  margin: 0 auto 0 auto;
}
.page-modal.stop-vpn-message .page-modal-body .page-modal-title {
  border-bottom: none;
}
.page-modal.stop-vpn-message .page-modal-body .page-modal-title h3 {
  text-align: left;
  margin: 15px;
  line-height: 24px;
}
.page-modal.stop-vpn-message .page-modal-content {
  padding: 10px 15px;
  font-size: 14px;
}
.page-modal.stop-vpn-message .page-modal-body {
  width: auto;
}
.page-modal.stop-vpn-message .page-modal-body .page-modal-actions {
  border-top: none;
  padding: 15px;
}
.page-modal.stop-vpn-message .page-modal-body .page-modal-actions a {
  min-width: 80px;
  margin-left: 15px;
  text-align: center;
}
.page-modal.stop-vpn-message .page-modal-body .page-modal-actions a:hover {
  transform: scale(1.1);
}
.wait-timer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.wait-timer .wait-timer-value {
  font-size: 28px;
  font-weight: 300;
  line-height: 0.9;
  transition: transform 150ms;
}
.wait-timer .wait-timer-value span {
  display: inline-block;
  width: 0.6em;
}
.wait-timer .wait-timer-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: opacity 150ms;
}
.wait-timer:not(.wait-timer-paused) .wait-timer-value {
  transform: translateY(7px);
}
.wait-timer:not(.wait-timer-paused) .wait-timer-title {
  opacity: 0;
}
.trial-circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto auto 44px auto;
  border-radius: 50%;
  box-shadow: 0 0 8px 1px rgba(163, 181, 202, 0.39);
  background: #fff;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
}
.trial-circle:hover {
  transform: scale(1.05);
}
.trial-circle .trial-circle-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-image: radial-gradient(circle at 61% 39%, #fff, #f0f3f6 81%);
}
.trial-circle.trial-circle-white .trial-circle-content {
  background: #fff;
}
.trial-circle .trial-circle-shadow {
  content: '';
  position: absolute;
  width: 63px;
  height: 98px;
  top: 9px;
  left: -4px;
  transform: rotate(-37deg);
  filter: blur(15px);
  background-image: radial-gradient(circle at 50% 39%, rgba(255, 100, 0, 0.54), rgba(255, 100, 0, 0) 108%);
}
.trial-circle .timer {
  cursor: default;
}
.trial-circle .timer:hover {
  transform: none;
}
.trial-circle .timer .timer-text {
  display: none;
}
.trial-circle .timer .timer-digits {
  width: 28px;
  height: 28px;
  font-size: 14px;
  color: #65707c;
}
.trial-circle .timer .timer-digit {
  line-height: 28px;
  width: 9px;
}
.trial-circle .timer .timer-separator {
  line-height: 28px;
}
.timer-progress {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.timer-progress svg {
  transform: rotate(-90deg);
}
.tooltip-banner-wrapper {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms 100ms, opacity 150ms ease-in 100ms;
}
.tooltip-banner-wrapper.tooltip-banner-visible {
  visibility: visible;
  opacity: 1;
}
.tooltip-banner-wrapper .tooltip-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 212px;
  height: 128px;
  border-radius: 15px;
  background: #fff;
  color: #40474f;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(255, 100, 0, 0.41);
}
.tooltip-banner-wrapper .tooltip-banner-img {
  width: 58px;
  height: 41px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -21px;
  background: url(../img/hola_plus.svg) no-repeat;
  background-size: 100% 100%;
}
.tooltip-banner-wrapper .tooltip-banner-text {
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  margin: auto auto 10px auto;
}
.tooltip-banner-wrapper .btn {
  width: 104px;
  height: 28px;
  line-height: 28px;
  margin: 0 auto 14px auto;
  border-radius: 14px;
}
.tooltip-banner-wrapper .tooltip-banner-arrow {
  position: absolute;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: transparent;
  border-top-color: #fff;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner {
  height: 259px;
  width: 216px;
  color: #fff;
  background: #40474f;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-img {
  width: 70px;
  height: 68px;
  top: -35px;
  background: url(../img/holaprotect.svg) no-repeat;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-img-glow {
  margin: 0 auto;
  position: absolute;
  left: 1px;
  right: 0;
  width: 50px;
  height: 50px;
  top: -20px;
  filter: blur(21px);
  background-color: #ff6400;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/glow_orange.svg);
  background-size: 150px;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-text {
  text-align: left;
  padding: 0 15px;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .btn {
  border-radius: 14px;
  box-shadow: 0 0 9px 0 #fff;
  background-color: #40474f;
  color: #fff;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .btn .btn-arrow {
  border-left-color: #ff6400;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-status span {
  color: #ff6400;
  text-decoration: underline;
  font-weight: bold;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-status {
  font-size: 13px;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-upgrade {
  font-size: 16px;
  line-height: 1.25;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-upgrade span {
  color: #ff6400;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-location {
  font-size: 13px;
}
.tooltip-banner-wrapper.tooltip-banner-privacy .tooltip-banner-arrow {
  border-top-color: #40474f;
}
.modal-stop_vpn_confirmation {
  width: 456px;
  height: 335px;
}
.modal-stop_vpn_confirmation .modal-body-buttons {
  margin: 32px 70px;
}
.modal-stop_vpn_confirmation .country-flag .fsvg_4x3 .flag_stop {
  width: 100%;
  height: 100%;
  background: url(../img/power.svg) no-repeat;
  background-size: 45px 45px;
  background-position: center;
}
.action-button {
  width: 238px;
  min-width: 238px;
  height: 218px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 5px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  cursor: pointer;
  overflow: hidden;
}
.action-button:hover {
  border: solid 3px #0288d1;
  margin: 4px;
}
.action-button .power-switch {
  width: 64px;
  height: 68px;
  background: url(../img/ic_switch.svg) no-repeat;
  background-size: 100% 100%;
  margin-right: 26px;
  transform-origin: 32px 36px;
}
.action-button .strike-line {
  position: absolute;
  width: 88px;
  height: 4px;
  left: -1px;
  bottom: -4px;
  border: solid 2px #fff;
  transform: rotate(-0.64rad);
  transform-origin: left;
  background: #f44336;
}
.action-button .action-button-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 150ms ease-in;
}
.action-button.mitm-unblock .title {
  margin: 0 auto auto auto;
  font-size: 16px;
  color: #666666;
}
.action-button.mitm-unblock .lock-anim,
.action-button.mitm-unblock .unlock-anim {
  display: flex;
  flex-direction: row;
  margin: auto auto 35px auto;
  align-items: center;
}
.action-button.mitm-unblock .lock-anim .img-wrapper,
.action-button.mitm-unblock .unlock-anim .img-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
}
.action-button.mitm-unblock .lock-anim .strike-line,
.action-button.mitm-unblock .unlock-anim .strike-line {
  width: 95px;
  left: 5px;
  bottom: 1px;
  transform: rotate(-45deg);
}
.action-button.mitm-unblock .lock-anim .power-switch {
  filter: grayscale(100%);
  opacity: 0.7;
}
.action-button.mitm-unblock .lock-anim .unlock-img {
  opacity: 0;
}
.action-button.mitm-unblock .unlock-anim .strike-line {
  visibility: hidden;
}
.action-button.mitm-unblock .lock-img,
.action-button.mitm-unblock .unlock-img {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.action-button.mitm-unblock .lock-img {
  background-image: url(../img/ic_lock.svg);
}
.action-button.mitm-unblock .unlock-img {
  background-image: url(../img/ic_unlock.svg);
}
.action-button.mitm-unblock:hover .lock-anim .power-switch {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: power-off-keyframes;
}
.action-button.mitm-unblock:hover .lock-anim .lock-img {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: show-unlock-keyframes;
}
.action-button.mitm-unblock:hover .lock-anim .unlock-img {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: hide-lock-keyframes;
}
.action-button.mitm-unblock:hover .lock-anim .strike-line {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: lock-strike-keyframes;
}
.action-button.mitm-unblock:hover .unlock-anim .power-switch {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: power-on-keyframes;
}
.action-button.mitm-unblock:hover .unlock-anim .lock-img {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: hide-lock-keyframes;
}
.action-button.mitm-unblock:hover .unlock-anim .unlock-img {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: show-unlock-keyframes;
}
.action-button.mitm-unblock:hover .unlock-anim .strike-line {
  visibility: visible;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-name: unlock-strike-keyframes;
}
.action-button .action-text {
  margin: auto 20px 20px 20px;
  line-height: 30px;
  font-size: 14px;
  color: #0288d1;
  font-weight: bold;
  border: solid 1px #0288d1;
  border-radius: 4px;
}
.common-ui-busy {
  background: url('../../../../svc/vpn/pub/img/price_widget_anim.png') no-repeat;
  width: 52.5px;
  height: 52.5px;
  background-size: 262.5px;
  background-position-y: -1575px;
  background-position-x: 0;
  display: block;
  animation: busy-anim-logo 2s 0s steps(25) infinite none;
}
@keyframes busy-anim-logo {
  0% {
    background-position-y: -262.5px;
  }
  50% {
    background-position-y: -1575px;
  }
  100% {
    background-position-y: -1575px;
  }
}
@keyframes bouncing-arrow-up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes bounce-left-right {
  from {
    transform: translateX(2px);
  }
  to {
    transform: translateX(-2px);
  }
}
@keyframes bounce-up-down {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-2px);
  }
}
@keyframes power-off-keyframes {
  0% {
    transform: rotate(0);
    filter: grayscale(0);
    opacity: 1;
  }
  25%,
  100% {
    transform: rotate(-360deg);
    filter: grayscale(100%);
    opacity: 0.7;
  }
}
@keyframes power-on-keyframes {
  0% {
    transform: rotate(0);
    filter: grayscale(100%);
    opacity: 0.7;
  }
  25%,
  100% {
    transform: rotate(360deg);
    filter: grayscale(0);
    opacity: 1;
  }
}
@keyframes hide-lock-keyframes {
  0%,
  24% {
    opacity: 1;
  }
  25%,
  100% {
    opacity: 0;
  }
}
@keyframes show-unlock-keyframes {
  0%,
  24% {
    opacity: 0;
  }
  25%,
  100% {
    opacity: 1;
  }
}
@keyframes lock-strike-keyframes {
  0% {
    width: 0;
  }
  25%,
  100% {
    width: 95px;
  }
}
@keyframes unlock-strike-keyframes {
  0% {
    width: 95px;
  }
  25%,
  100% {
    width: 0;
  }
}
.progress-bar {
  width: 100%;
  height: 4px;
  position: relative;
  overflow: hidden;
  background-color: rgba(2, 136, 209, 0.2);
}
.progress-bar:before,
.progress-bar:after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: auto;
  bottom: 0;
  position: absolute;
  transition: transform 0.2s linear;
  transform-origin: left;
  background-color: #0288d1;
}
.progress-bar:before {
  animation: progressbar1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress-bar:after {
  animation: progressbar2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}
@keyframes progressbar1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes progressbar2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
.slides-switch > .slide-enter-active,
.slides-switch > .slide-exit-active {
  transition: transform 200ms;
}
.slides-switch.slide-backward > .slide-enter {
  transform: translate(-100%);
  transition-delay: 100ms;
}
.slides-switch.slide-forward > .slide-enter {
  transform: translate(100%);
  transition-delay: 100ms;
}
.slides-switch.slide-forward > .slide-exit,
.slides-switch.slide-backward > .slide-exit,
.slides-switch.slide-forward > .slide-enter-active,
.slides-switch.slide-backward > .slide-enter-active {
  transform: translate(0);
}
.slides-switch.slide-forward > .slide-exit-active {
  transform: translate(-100%);
}
.slides-switch.slide-backward > .slide-exit-active {
  transform: translate(100%);
}
.slides-switch.pre-mount > :not(.slide-appear):not(.slide-enter):not(.slide-exit):not(.slide-enter-done):not(.slide-enter-active):not(.slide-exit-active) {
  display: none;
}
.menu-icon {
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
.menu-icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes roll_up {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-26px);
  }
  41% {
    opacity: 0;
  }
  42% {
    transform: translateY(26px);
  }
  43% {
    opacity: 1;
  }
  85%,
  100% {
    transform: translateY(0px);
  }
}
@keyframes profile_1 {
  80%,
  100% {
    transform: translateY(3px);
  }
}
@keyframes profile_2 {
  80%,
  100% {
    transform: translateY(-3px);
  }
}
.menu-icon.menu-icon-profile svg:first-child {
  bottom: 10px;
  left: 7px;
  width: 9px;
  height: 9px;
}
.menu-icon.menu-icon-profile svg:last-child {
  bottom: 1px;
  left: 5px;
  width: 14px;
  height: 8px;
}
*:hover > .menu-icon.menu-icon-profile svg:first-child {
  animation: profile_1 alternate 400ms 2;
}
*:hover > .menu-icon.menu-icon-profile svg:last-child {
  animation: profile_2 alternate 400ms 2;
}
@keyframes plus_2 {
  80%,
  100% {
    transform: translateY(-24px);
  }
}
.menu-icon.menu-icon-plus svg:first-child {
  bottom: 1px;
  left: 3px;
  width: 14px;
  height: 18px;
}
.menu-icon.menu-icon-plus svg:last-child {
  bottom: -100%;
  left: 5px;
  width: 9px;
  height: 7px;
}
*:hover > .menu-icon.menu-icon-plus svg:last-child {
  animation: plus_2 alternate 400ms 2;
}
@keyframes settings_2 {
  80%,
  100% {
    transform: rotate(145deg);
  }
}
.menu-icon.menu-icon-settings svg:first-child {
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.menu-icon.menu-icon-settings svg:last-child {
  display: none;
}
*:hover > .menu-icon.menu-icon-settings svg:first-child {
  animation: settings_2 alternate 400ms 2;
}
.menu-icon.menu-icon-support svg:first-child {
  bottom: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
}
.menu-icon.menu-icon-support svg:last-child {
  bottom: 5px;
  left: 6px;
  width: 8px;
  height: 10px;
}
*:hover > .menu-icon.menu-icon-support svg:last-child {
  animation: roll_up alternate 500ms 2;
}
@keyframes legal_1 {
  80%,
  100% {
    transform: translate(-4px, -9px) rotate(60deg);
  }
}
.menu-icon.menu-icon-legal svg:first-child {
  bottom: 2px;
  left: 2px;
  width: 14px;
  height: 18px;
  transform-origin: 0 100%;
}
.menu-icon.menu-icon-legal svg:last-child {
  bottom: 0;
  left: 7px;
  width: 10px;
  height: 6px;
}
*:hover > .menu-icon.menu-icon-legal svg:first-child {
  animation: legal_1 alternate 400ms 2;
}
@keyframes redeem_2 {
  80%,
  100% {
    transform: rotate(-15deg);
  }
}
.menu-icon.menu-icon-redeem svg:first-child {
  bottom: 1px;
  left: 1px;
  width: 16px;
  height: 11px;
}
.menu-icon.menu-icon-redeem svg:last-child {
  bottom: 11px;
  left: 1px;
  width: 16px;
  height: 8px;
  transform-origin: 0 100%;
}
*:hover > .menu-icon.menu-icon-redeem svg:last-child {
  animation: redeem_2 alternate 400ms 2;
}
@keyframes add_2 {
  80%,
  100% {
    transform: rotate(90deg);
  }
}
.menu-icon.menu-icon-add svg:first-child {
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.menu-icon.menu-icon-add svg:last-child {
  display: none;
}
*:hover > .menu-icon.menu-icon-add svg:first-child {
  animation: add_2 alternate 400ms 2;
}
@keyframes language_2 {
  80%,
  100% {
    transform: translateY(-3px);
  }
}
.menu-icon.menu-icon-language svg:first-child {
  bottom: 3px;
  left: 3px;
  width: 14px;
  height: 10px;
}
.menu-icon.menu-icon-language svg:last-child {
  bottom: 12px;
  left: 3px;
  width: 13px;
  height: 5px;
  transform-origin: 0 100%;
}
*:hover > .menu-icon.menu-icon-language svg:last-child {
  animation: language_2 alternate 400ms 2;
}
*:hover > .menu-icon.menu-icon-alert svg:last-child {
  animation: roll_up alternate 500ms 2;
}
*:hover > .menu-icon.menu-icon-about svg:last-child {
  animation: roll_up alternate 500ms 2;
}
@keyframes incognito_2 {
  80%,
  100% {
    transform: scale(0.65);
  }
}
*:hover > .menu-icon.menu-icon-incognito svg:last-child {
  animation: incognito_2 alternate 400ms 2;
}
@keyframes hide_ip_2 {
  80%,
  100% {
    transform: scale(0.65);
  }
}
*:hover > .menu-icon.menu-icon-hide_ip svg:last-child {
  animation: hide_ip_2 alternate 400ms 2;
}
@keyframes protect_2 {
  80%,
  100% {
    transform: translate(3px, -1px) scaleY(0.7);
  }
}
*:hover > .menu-icon.menu-icon-protect svg:last-child {
  animation: protect_2 alternate 400ms 2;
}
@keyframes devices_2 {
  80%,
  100% {
    transform: translateY(-8px);
  }
}
*:hover > .menu-icon.menu-icon-devices svg:last-child {
  animation: devices_2 alternate 400ms 2;
}
