body {
  margin: 0px;
  padding: 0px;
  width: 560px;
  height: 526px;
  font-family: ' Neuzeit Grotesk', sans-serif;
}
#options {
  width: 560px;
  height: 526px;
}
#imgWrapper {
  color: #ffffff;

  font-weight: bold;
}
#currTemp {
  color: #ffffff;
  width: 136px;
  height: max-content;
  margin: 45px 62px 0 62px;
}
#currTemp > h1 {
  font-size: 107px;
  width: 136;
  height: 107px;
  text-align: right;
  margin: 0;
  -webkit-margin-after: 0;
}
#currTemp > h3 {
  font-size: 34px;
  width: 100%;
  text-align: center;
  position: relative;
  top: -10px;
  text-transform: capitalize;
  margin: 0 auto 0 auto;
  margin-left: auto;
  margin-right: auto;
}
#location {
  position: element('#currTemp > h3');
  bottom: 0;
  width: max-content;
  height: 16px;
  margin: auto;
  position: relative;
}
#rainButton img:hover {
  width: 1.5em;
  height: 1.5em;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
#rainButton img.rainIcon {
  animation-name: blinking;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

#rainButton {
  position: absolute;
  left: 51px;
  bottom: 30px;
  color: #ffffff;
  font-weight: bold;
  background-color: transparent;
  border-style: none;
  outline: none;
}
#rainButton > img {
  position: relative;
  top: 2px;
}
#online,
#offline,
#loading {
  display: none;
}

#offline,
#loading {
  text-align: center;
  padding: 50px;
}
aside {
  width: 260px;
  height: 100%;
  position: relative;
  float: left;
}
#cntWrapper {
  position: relative;
  float: right;
  width: 300px;
}
#conditions {
  font-weight: bold;
  text-align: center;
  background-size: cover;
  background-position: center center;
  color: #f1b385;
  position: relative;
  height: 150px;
  margin: 30.39px 110px 0 110px;
  /* animation-name: fadeIn;
  animation: 1s; */
}
.temp {
  font-size: 34px;
  width: 91px;
}
#conditions .icon {
  font-family: 'MeteoconsRegular';
  width: 79.9px;
  height: 80px;
  margin-left: 5px;
  font-size: 80px;
}
#title {
  font-size: 34px;
  margin: auto;
}
.details {
  position: relative;
  top: 10px;
  font-size: 24px;
  width: 91px;
  margin: auto;
}
#currMin {
  color: #9fa6aa;
}

.tooltip {
  background-color: #fff;
  padding: 0px;
  font-size: 12px;
  position: absolute;
  width: 101px;
  background-color: rgba(42, 57, 97, 0.9);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.tooltip .section {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.tooltip .section:last-child {
  border-bottom: none;
}

#options_btn {
  background: url('../icons/icon_options.png') center no-repeat;
  width: 19.72px;
  height: 20.27px;
  display: block;
  background-size: cover;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  border: none;
  outline: none;
}
canvas {
  margin: 0 auto;
}
.yLabel {
  font-size: 14px;
  font-weight: bold;
  font-family: ' Neuzeit Grotesk', sans-serif;
}
.yLabel > span {
  font-size: 9px;
}
.xLabel {
  color: #9fa6aa;
  font-size: 10px;
  font-weight: bold;
  font-family: ' Neuzeit Grotesk', sans-serif;
}

#weather {
  height: 181px;
  top: 10px;
  position: relative;
}
#weather a:link {
  text-decoration: none;
}
#weather a:visited {
  text-decoration: none;
}
#weather a {
  width: 100%;
}
#weather .icon {
  font-family: 'MeteoconsRegular';
  float: right;
  order: 1;
  color: #f1b385;
  font-weight: bold;
  position: relative;
  top: 12px;
  width: 36px;
  height: 36px;
}
.weatherContainer {
  height: 53.3px;
  border-bottom: 0.5px solid #f1b385;
  font-size: 20px;
  margin: 0 35px 0 35px;
  vertical-align: middle;
}
.weatherContainer:last-child {
  border-bottom: none;
}
.weatherTemp {
  font-size: 24px;
  float: right;
  margin-right: 10px;
  color: #f1b385;
  font-weight: bold;
  bottom: 10;
  position: relative;
  top: 20px;
}
.date {
  color: #5e6264;
  position: relative;
  top: 20px;
}
/* optionspage */
#home_btn {
  background: url('../icons/icon_home.png') center no-repeat;
  width: 19.72px;
  height: 20.27px;
  display: block;
  background-size: cover;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  border: none;
  outline: none;
}
#cntWrapper > h1 {
  font-size: 34px;
  margin: auto;
  margin-top: 42px;
  margin-bottom: 36px;
  width: 117px;
  height: 34px;
  display: none;
}
#unitsWrapper {
  position: relative;
  left: 30px;
  height: 91px;
  width: 270px;
  display: none;
}
#locationWrapper {
  position: relative;
  left: 30px;
  display: none;
}
#op1 {
  position: relative;
  height: 21px;
  width: 80px;
}
#op1,
#op2 {
  display: inline;
  font-size: 20px;
}
#op2 {
  margin-right: 32px;
}
#op1 > label {
  width: 59px;
  height: 21px;
  font-size: 20px;
  position: relative;
  left: 5px;
  color: #777777;
}
#op2 > label {
  width: 89px;
  height: 20px;
  font-size: 20px;
  color: #777777;
}
#op1 > label {
  margin-right: 20px;
}
.check {
  display: inline-block;
  width: 9px;
  height: 9px;
  position: absolute;
  border-radius: 10px;
  top: 38px;
}
.checkbox {
  display: inline-block;
  width: 9px;
  height: 9px;
  position: absolute;
  border-radius: 2px;
  top: 50px;
  left: 4px;
}
.checkbox:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 4px;
  border: 2px solid #777777;
}
.check:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 10px;
  border: 2px solid#777777;
}
#op1 > .check {
  top: 3px;
  left: 4px;
}
#unitsWrapper > div:first-of-type {
  font-size: 24px;
  height: 24px;
  width: 51px;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type='radio'] {
  opacity: 0;
  position: relative;
  margin: 0;
}
#celsius {
  top: -1px;
  left: 2px;
}
#fahrenheit {
  left: -2px;
  top: -1px;
}
#locationWrapper > div:first-of-type {
  font-size: 24px;
  width: 89px;
  height: 24px;
  font-weight: bold;
}
#locationWrapper > p {
  color: #777777;
  font-size: 10px;
  font-weight: bold;
  width: 233px;
  height: 24px;
}
input[type='text'] {
  outline: none;
  height: 21px;
  width: 233px;
  border: none;
  color: #777777;
  font-size: 15px;
}
#save {
  width: 88px;
  height: 42px;
  border: none;
  border-radius: 5px;
  background: #f1b385;
  color: #ffffff;
  font-size: 16px;
  margin-top: 25px;
  box-shadow: 0 1px 1px #9fa6aa;
  float: right;
  margin-right: 58px;
  outline: none;
  cursor: pointer;
}
#city,
#opLocation {
  display: none;
}

.title-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#travelWrapper {
  position: relative;
  left: 30px;
  display: none;
  margin-top: 30px;
}
#travelWrapper h2 {
  font-size: 24px;
  font-weight: bold;
}

#travelWrapper label {
  font-size: 15px;
  color: #777777;
  padding-left: 3px;
}
#travelWrapper input[type='checkbox'] {
  opacity: 0;
  cursor: pointer;
}

#travelWrapper .checkbox.checked {
  background-color: #f1b385;
}
