* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'neuzeit-grotesk', sans-serif;
}

h1 {
  color: #fff;
  font-size: 50px;
}

h2 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 30px 0;
}

h2.orange {
  color: #f4c6a3;
}

p {
  line-height: 1.2;
  color: #fff;
  font-size: 20px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

.header {
  background: #f4c6a3;
  min-height: 450px;
  padding-bottom: 120px;
  position: relative;
  margin-bottom: 100px;
}

.header::after {
  content: '';
  background-image: url('../images/border-bottom.png');
  background-repeat: no-repeat;
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  display: inline-block;
  position: absolute;
  bottom: -100px;
}

.header__image {
  z-index: 12;
  position: absolute;
  right: 0;
  top: 0;
  width: 700px;
  height: 450px;
  background-image: url('../images/berlin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header__image::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../images/img-border.png');
  background-size: 700px;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.header__content {
  z-index: 18;
  padding-top: 50px;
  position: relative;
}

.header__content__text {
  padding-top: 70px;
  width: 50%;
}

.header__content__text img {
  position: absolute;
  left: -80px;
  top: 50px;
  width: 250px;
  opacity: 0.2;
}

.header__content__socials {
  width: 100%;
  text-align: right;
}

.header__content__socials ul {
  list-style-type: none;
}

.header__content__socials li {
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s;
}

.header__content__socials li:hover {
  transform: scale(1.2);
}

.header__content__socials li a,
.header__content__socials li a:visited,
.header__content__socials li a:focus {
  color: #fff;
  font-size: 1.8em;
}

.weather {
  padding-top: 70px;
}

.weather__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.weather__filter__ul {
  padding: 0;
  list-style-type: none;
}

.filter {
  display: inline-block;
  width: auto;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
}

.filter.active {
  color: #fff;
}

.day-filter {
  margin-right: 7px;
  color: #f4c6a3;
}

.day-filter.active {
  background-color: #f4c6a3;
}

.unit-filter {
  margin-left: 7px;
  color: #8eb0d1;
  padding: 10px 20px;
}

.unit-filter.active {
  background-color: #8eb0d1;
}

.weather__items__all {
  display: flex;
  flex-wrap: wrap;
}

.weather__item {
  width: calc(14.2% - 25px);
  text-align: center;
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: #f4c6a3;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid #feeadd;
}

.weather__item:first-child {
  background: #f4c6a3;
  color: #fff;
  border: none;
}

.weather__item:first-child .weather__item__date,
.weather__item:first-child .weather__item__conditions,
.weather__item:first-child .weather__item__conditions span.gray {
  color: #fff;
}

.weather__item span.gray {
  color: #9fa6aa;
}

.weather__item:nth-child(7n) {
  margin-right: 0;
}

.weather__item__img {
  max-height: 70px;
  width: auto;
  max-width: 100%;
  margin-bottom: 10px;
}

.weather__item__conditions {
  font-size: 25px;
  font-weight: 600;
}

.weather__item__date {
  color: #9fa6aa;
  margin-bottom: 15px;
  font-size: 20px;
}
